[Unit]
Description="Update the configuration of the hardening based on the updated rpm package"

[Service]
ExecStart=/usr/bin/harden update
ProtectSystem=yes
ProtectHome=read-only
ProtectProc=invisible
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
IPAddressDeny=any
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
PrivateDevices=yes
PrivateNetwork=yes
PrivateTmp=yes
ProtectHostname=yes
Type=oneshot
SystemCallArchitectures=native
CapabilityBoundingSet=
