[Unit]
Description=Unconfine users that exist in /etc/passwd (with /bin/bash) and in /home/ and re-confine those no longer in /etc/passwd

[Service]
ExecStart=/usr/bin/unconfinehomeusers.py
ProtectSystem=yes
ProtectHome=read-only
ProtectProc=invisible
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
IPAddressDeny=any
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
PrivateDevices=yes
PrivateNetwork=yes
PrivateTmp=yes
ProtectHostname=yes
Type=oneshot
SystemCallArchitectures=native
CapabilityBoundingSet=
